[submodule "pack/foo/start/typescript-vim"]
	path = pack/foo/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "pack/foo/start/vim-elixir"]
	path = pack/foo/start/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "pack/foo/start/ale"]
	path = pack/foo/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/foo/start/julia-vim"]
	path = pack/foo/start/julia-vim
	url = git://github.com/JuliaEditorSupport/julia-vim.git
[submodule "pack/foo/start/commentary"]
	path = pack/foo/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "pack/foo/start/YouCompleteMe"]
	path = pack/foo/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
